@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
/* 
LOG IN PAGE */
*  {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    background: url(assets/b5.jpg);
    margin-top: 15vh;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 5px inset rgba(255,255,255, .2);
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 3px SOLID rgb(158, 172, 135);
    border-radius: 40px;
    font-size: 16px;
    color:antiquewhite;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: antiquewhite;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}
.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forgot a{
    color: #fff;
    text-decoration: none;
}
.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .butt  {
    width: 100%;
    height: 45px;
    background-color: antiquewhite;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 12px 10px 2px rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.butt:hover{
    background-color: #618e65;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}
.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline
}

/* HOME PAGE */

.home-container {
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
  }
  
  .welcome-text {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #2c3e50;
  }
  
  .subheading {
    font-size: 1.5em;
    margin-bottom: 30px;
    color: #34495e;
  }
  
  .feature-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .feature {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
  }
  
  .feature h2 {
    color: #e67e22;
    margin-bottom: 10px;
  }
  
  .feature p {
    color: #7f8c8d;
  }
  