.feedBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.searchContainer {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.searchBar {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.filterDropdown,
.datePicker {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.filterDropdown:hover,
.searchBar:hover,
.searchButton:hover {
    border-color: #007BFF;
}

.filterCheckboxes label {
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
}

.filterCheckboxes input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

.resultsCount {
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
    justify-content: center;
    transition: all 0.5s ease;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding-bottom: 20px;
}

.cardContent {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

.cardImage {
    width: 130px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.cardInfo {
    flex: 1;
}

.cardTitle {
    margin: 0 0 10px;
    text-align: left;
    transition: color 0.3s ease;
}

.infoList {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.infoList li {
    margin-bottom: 5px;
}

.cardHoverInfo,
.moreInfo {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.card:hover .moreInfo {
    display: block;
}

.card:hover .cardHoverInfo {
    display: none;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card:hover .cardImage {
    transform: scale(1.05);
}

.card:hover .cardTitle {
    color: #007BFF;
}
